# Compiled class files
*.class

# Logs
*.log

# IDE specific files
*.idea/
*.project
*.classpath

# Maven/Gradle directories
target/
.build/

# Test reports
test-output/

# OS-specific files
.DS_Store
Thumbs.db
